#header {
    --nav-transition: all 0.5s cubic-bezier(0.5, -0.22, 0.34, 0.7);

    font-family: "Uni Sans Heavy", Roboto, system-ui, Helvetica, Arial, sans-serif;
    position: relative;
    z-index: 8;
    min-height: 350px;

    &.no-hero {
        min-height: 108px;
    }
}

#header-top {
    --logo-filter: invert(100%);
    --nav-color: rgb(255 255 255);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 45;

    display: flex;
    gap: 0.475rem;
    padding: 0.68rem;
    justify-content: space-between;
    align-items: center;
    transition: var(--nav-transition);
    background-color: rgb(0 0 0 / 0.35);
    background-blend-mode: difference;
    color: var(--nav-color);
    isolation: isolate;

    #logo-image {
        filter: var(--logo-filter);       
    }

    &:is(.overlay, .nav-open) {
        --logo-filter: none;
        --nav-color: rgb(0 0 0);
        background-color: var(--nav-overlay, rgb(255 255 255 / 1));
        box-shadow: 0 1px 2px rgb(0 0 0 / 0.65);
    }
}

#branding {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

#logo {
    margin: 0;
    padding: 0;
}

#logo-image {
    aspect-ratio: 1;
    min-height: 50px;
    max-height: 80px;
}

#tagline {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-transform: uppercase;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    /* &.active #navigation-dropdown {
        display: block;
    } */

    .toggle {
        display: flex;
        justify-content: center;
        align-items: center;

        .toggle-button {
            aspect-ratio: 1;
            background: none;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 1rem;
            padding: 0.5rem 0.645rem;

            & > .toggle-icon {
                fill: var(--nav-color);
                vertical-align: middle;
            }
        }
    }
}

#navigation-buttons {
    display: flex;
    gap: 0.445rem;
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    list-style: none;

    .navigation-button {
        text-transform: uppercase;

        .navigation-button__link {
            background-color: var(--button, rgb(0 0 0 / 0.9));
            color: var(--button-text, rgb(255 255 255 / 0.9));
            border-radius: 5px;
            padding: 0.46rem 0.6rem;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

#navigation-dropdown {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: transparent;
    top: -9999px;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 4000;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 100%;

    @media (width >= 768px) {
        left: auto;
        max-width: 300px;
        box-shadow: none;
    }

    &.show {
        background-color: var(--nav-overlay, rgb(255 255 255 / 1));
        box-shadow: -1px 2px 2px rgb(0 0 0 / 0.65);
        opacity: 1;
        top: 100%;
        visibility: visible;
        height: 100dvw;
    }

    /* .buttons {

    } */
}

#search {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.6rem;
}

#search-inner {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid currentColor;

    #search-input {
        flex-basis: 100%;
        padding: 0.5rem 0.8rem;
        border: none;
    }

    #search-submit {
        border: none;
        padding-inline: 0.5rem;
        font-size: 1rem;
    }
}

#navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 0;
    margin-inline: auto;
    padding: 0;
    gap: 0.5rem;
    list-style: none;

    & > .navigation-item {
        text-transform: uppercase;
        font-size: 1.3rem;

        & .navigation-link {
            display: block;
            padding: 0.8rem;
            text-decoration: none;
            color: inherit;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}

#hero {
    position: relative;
    max-width: 100%;
    isolation: isolate;
}

#hero-image {
    background-color: var(--hero-bg, rgb(230 230 230 / 0.9));
    mix-blend-mode: difference;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 500px;
}