#footer {
    background-color: var(--bg);
}

#footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer-section {
        padding: 0.8rem;

        .footer-links {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}