:root {
	--background: rgb(0 0 0);
	--text: rgb(245 245 246);
	--footer: rgb(34 30 30);
	--navigation: rgb(0 0 0 / 0.785);
	--overlay: rgb(0 0 0 / 0.675);
	--button: rgb(210 43 43);
	--button-text: rgb(251 251 251);
	--search-background: rgb(45 45 45);
	--search-shadow: rgb(243 243 243 / 0.65);
	--search-shadow-2: rgb(255 255 255 / 0.7);
	--menu-speed: 0.5s;
	--navigation-transition: all 0.5s cubic-bezier(0.56, -0.21, 0.33, 0.69);

	*,
	::before,
	::after {
		box-sizing: border-box;
	}
}

html { scroll-behavior: smooth; }

#wras {
	margin: 0;
	padding: 0;

	background-color: var(--background);
	color: var(--text);
	font-family: Oswald, Arial, Helvetica, sans-serif;
	line-height: 1.3;
	overflow-x: hidden;
}

#header {
	--header-width: 100%;
	--hero-max-height: 400px;

	#header-hero {
		position: relative;
		max-width: 100%;
		z-index: 3;

		.hero-overlay {
			position: absolute;
			inset: 0;
			background-color: var(--overlay);
			width: 100%;
			max-height: var(--hero-max-height);
			z-index: 5;
		}

		#hero-image {
			object-fit: cover;
			object-position: center center;
			max-height: var(--hero-max-height);
			width: 100%;
		}
	}
}

#header-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4000;

	display: flex;
	gap: 0.4rem;
	justify-content: space-between;
	align-items: center;
	transition: var(--navigation-transition);

	&.overlay {
		background-color: var(--navigation);
	}

	&:has(:checked) {
		background-color: var(--navigation);
	}

	#branding {
		--max-logo-size: 80px;
		--min-logo-size: 50px;

		display: flex;
		gap: 0.6rem;
		padding: 0.675rem;
		align-items: center;

		#logo {
			margin: 0;
			padding: 0;

			#logo-image {
				aspect-ratio: 1;
				height: 100%;
				min-height: var(--min-logo-size);
				max-height: var(--max-logo-size);
			}
		}

		#tagline {
			display: flex;
			flex-direction: column;
			font-size: 1rem;
			text-transform: uppercase;
		}
	}
}

#navigation {
	--nav-button-display: none;
	--header-button-display: flex;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.345rem;

	@media (width < 768px) {
		--nav-button-display: flex;
		--header-button-display: none;
	}

	& > .navigation-buttons {
		display: var(--header-button-display);
	}

	#menu-bottom > .navigation-buttons {
		display: var(--nav-button-display);
	}

	.navigation-buttons {
		font-size: 0.8rem;
	
		.navigation-buttons-inner {
			display: flex;
			gap: 0.43rem;
			padding: 0;
			margin: 0;
			list-style: none;
	
			.navigation-button {
				text-transform: uppercase;
	
				.navigation-button-link {
					background-color: var(--button);
					color: var(--button-text);
					border-radius: 4px;
					padding: 0.455rem 0.575rem;
					text-decoration: none;

					&:hover {
						cursor: pointer;
						opacity: 0.85;
					}
				}
			}
		}
	}
}

#navigation-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;

	--icon-size: 1em;
	--icon-stroke: 2px;

	#menu-trigger {
		display: flex;
		align-items: center;
		padding: 0.675rem;
		text-align: center;
		z-index: 400;

		&,
		* {
			cursor: pointer;
		}

		&:hover {
			cursor: pointer;
			opacity: 0.85;
		}

		&:has(:checked) .hamburger-icon {
			background-color: transparent;

			&::before {
				top: 0;
				rotate: 135deg;
			}

			&::after {
				top: 0;
				rotate: -135deg;
			}
		}

		.hamburger-icon {
			position: relative;
			top: -2px;
			vertical-align: middle;

			&,
			&::before,
			&::after {
				display: inline-block;
				border-radius: 2px;
				width: var(--icon-size);
				height: var(--icon-stroke);
				background-color: var(--text);
				transition: var(--navigation-transition);
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
			}

			&::before {
				top: -0.35em;
			}

			&::after {
				top: 0.35em;
			}
		}
	}

	#trigger-input {
		display: none;
	}

	&:has(:checked) {
		#menu-bottom {
			opacity: 1;
			left: 0;
			visibility: visible;
		}
	}

	#menu-bottom {
		background-color: var(--navigation);
		display: flex;
		flex-flow: wrap;
		flex-direction: column;
		gap: 0.375rem;
		align-items: center;
		position: absolute;
		top: 100%;
		left: -999px;
		opacity: 0;
		visibility: hidden;
		height: calc(100vh - 100%);
		z-index: 3999;
		transition: all 0.5s ease;
		width: 100%;

		@media (width >=768px) {
			max-width: 300px;
		}
	}
}

#search {
	padding: 0.455rem;

	#search-inner {
		display: flex;
		background-color: var(--search-background);
		border-radius: 4px;
		padding: 0.435rem 0.255rem;

		#search-input {
			font-family: inherit;
			font-size: 1.1rem;
			color: inherit;
			line-height: 1.4;
			padding: 0.495rem 0.625rem;
			background: none;
			border: none;
			outline: none;
			min-width: 200px;
		}

		#search-submit {
			display: flex;
			justify-content: center;
			align-items: center;
			color: inherit;
			background: none;
			border: none;
			border-left: 1px solid var(--text);
			padding: 0.6rem;
			font-size: 1.1rem;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

#nav {
	display: flex;
	list-style: none;
	gap: 0.495rem;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;

	> .nav-item {
		text-transform: uppercase;
		font-size: 1.275rem;

		.nav-link {
			display: inline-block;
			padding: 0.765rem;
			text-decoration: none;
			color: var(--text);

			&:hover {
				opacity: 0.85;
			}
		}

		.nav-level-2 {
			display: none;
		}
	}
}

#content {
	padding: 1.225rem;
	--content-dir: row;

	.section-more {
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 0.785rem;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		color: var(--button-text);
		background-color: var(--button);
	}
}

#content-inner {
	display: flex;
	flex-direction: var(--content-dir);
	gap: 1.225rem;

	@media (width < 750px) {
		--content-dir: column;
	}

	#content-rail {
		width: 100%;
		max-width: 400px;
	}

	#spinitron-container,
	#twitter-feed {
		max-width: 350px;
		width: 100%;
	}
}

#footer {

}

/*
:root {
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-size: 1em;

	*, ::before, ::after {
		box-sizing: border-box;
	}
}

#wras {
	margin: 0;
	padding: 0;
	background-color: var(--background, #040404);
	color: var(--text, #f0f0f0);
}

#header {
	--header-width: 100%;
	--header-padding: 1.4em;
	--hero-min-height: 500px;
	--nav-position-type: absolute;

	background-color: rgb(0 0 0 / 0.65);
	background-image: url("assets/images/wras-hero.jpeg");
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	display: flex;
	min-height: var(--hero-min-height);
	position: relative;
	transition: all 0.5s ease-in;
	width: var(--header-width);
	z-index: 6000;

	#header-inner {
		display: flex;
		justify-content: space-between;
		padding: 0.8em var(--header-padding);
		width: calc(var(--header-width) - (var(--header-padding) * 2));

		position: var(--nav-position-type);
		top: 0;
		left: 0;

		&:has(:checked) {
			background-color: black;
		}

		&.flyover {
			--nav-position-type: fixed;

			background-color: black;
		}
	}
}

#branding {
	display: flex;
	gap: 1em;
	align-items: center;
	text-transform: uppercase;

	@media (width <= 350px) {
		#logo-image {
			max-height: 75px;
		}

		#tagline {
			font-size: 0.8em;
		}
	}

	#logo {
		margin: 0;
		padding: 0;

		#logo-link {
			display: block;

			#logo-image {
				max-height: 100px;
				vertical-align: middle;
			}
		}
	}

	#tagline {
		display: flex;
		flex-direction: column;
		font-size: 1.1em;
		margin: 0;
		justify-content: center;
	}
}

#navigation {
	--dropdown-display: none;

	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	text-transform: uppercase;

	&:has(:checked) {
		--dropdown-display: flex;
	}

	#navigation-dropdown {
		display: var(--dropdown-display);
		flex-direction: column;
		font-size: 1.2em;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: calc(100vh - 100%);
		gap: 0.6em;
		background-color: black;

		.nav-level-2 {
			display: none;
		}
	}

	.navigation-buttons {
		--buttons-header-display: flex;
		--buttons-nav-display: none;
	
		.navigation-buttons__inner {
			display: flex;
			margin: 0;
			padding: 0;
			gap: 0.9em;
			list-style: none;
	
			& > .navigation-button {
				font-size: 1.1em;
				text-transform: uppercase;
	
				& > .navigation-button__link {
					border-radius: 4px;
					display: block;
					padding: 0.5em 0.8em;
					text-decoration: none;
					background-color: black;
					color: white;
				}
			}
		}
	
		@media (width <= 600px) {
			--buttons-header-display: none;
			--buttons-nav-display: flex;
		}
	
		#navigation > & {
			display: var(--buttons-header-display);
		}
	
		#navigation-dropdown > & {
			display: var(--buttons-nav-display);
		}
	}

	.navigation-toggle {
		--close-icon-display: none;
		--nav-icon-display: inline-block;

		aspect-ratio: 1 / 1;
		border-radius: 4px;
		padding: 0.3em 0.8em;
		cursor: pointer;
		user-select: none;
		background-color: black;
		display: inline-block;

		#nav-icon {
			display: var(--nav-icon-display);
		}

		#close-icon {
			display: var(--close-icon-display);
		}

		&:has(:checked) {
			--close-icon-display: inline-block;
			--nav-icon-display: none;
		}
	}
	
	#toggle-checkbox {
		display: none;
	}
}

#navigation-dropdown {
	#search {
		display: flex;
		align-items: center;

		#search-label {
			padding: 0.5em 0.6em;
		}

		#search-inner {
			display: flex;

			#search-input {
				display: inline-block;
				min-width: 300px;
				padding: 0.7em 1em;
			}

			#search-submit {
				font-size: 1em;
				padding: 0.6em;
			}
		}
	}

	#nav {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 0.8em;
		list-style: none;

		.nav-item {
			font-size: 1.2em;
			font-weight: bold;

			.nav-link {
				display: block;
				color: white;
				text-decoration: none;
			}
		}
	}
}

#content {
	--content-dir: row;

	#content-inner {
		display: flex;
		gap: 0.5em;
		flex-direction: var(--content-dir);
		padding: 1em;
	}

	@media (width <= 600px) {
		--content-dir: column;
	}
}

#content-rail {
	width: 100%;
	max-width: 400px;
}

#spinitron-container {
	display: block;
	border: none;
	width: 100%;
}

/* #wras {
	margin: 0;
	padding: 0;
}

#header {
	background-color: white;
	display: flex;
	width: 100%;
	position: sticky;
	top: 0;
	transition: all 0.5s ease-in;
	left: 0;
	z-index: 6000;

	#header-inner {
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 0.5em;
		width: 100%;
	}

	#branding {
		display: flex;
		gap: 0.75em;
		align-items: center;
		text-transform: uppercase;

		#logo {
			margin: 0;
			padding: 0;

			#logo-link {
				display: block;
			}
	
			#logo-image {
				max-width: 100px;
				vertical-align: middle;
			}
		}

		#tagline {
			margin: 0;
			display: flex;
			justify-content: center;
			font-size: 1em;
			flex-direction: column;
		}
	}
}

#navigation {
	display: flex;
	justify-content: center;
	gap: 0.6em;
	align-items: center;
	font-size: 1.2em;

	#navigation-inner {
		#navigation-dropdown {
			display: none;
		}
	}
}

.navigation-buttons {
	--buttons-header-display: flex;
	--buttons-nav-display: none;

	.navigation-buttons__inner {
		display: flex;
		margin: 0;
		padding: 0;
		gap: 0.3em;
		list-style: none;

		& > .navigation-button {
			font-size: 0.8em;
			text-transform: uppercase;

			& > .navigation-button__link {
				border-radius: 4px;
				display: block;
				padding: 0.5em 0.8em;
				text-decoration: none;
				background-color: black;
				color: white;
			}
		}
	}

	@media (width <= 600px) {
		--buttons-header-display: none;
		--buttons-nav-display: flex;
	}

	#navigation > & {
		display: var(--buttons-header-display);
	}

	#navigation-dropdown > & {
		display: var(--buttons-nav-display);
	}
}

#navigation-toggle {
	#toggle-checkbox {
		display: none;
	}
} */

/* #content {
	position: relative;

	#hero {
		position: relative;
		
		#hero-container {
			display: block;
			color: white;
			font-size: 1.2em;
			max-height: 500px;
			overflow: hidden;
			
			#hero-image {
				width: 100%;
				object-fit: cover;
				object-position: center center;
				height: inherit;
				vertical-align: middle;
			}

			#hero-description {
				display: flex;
				align-items: center;
				gap: 0.6em;
				text-align: center;
				background-color: rgb(0 0 0 / 0.55);
				position: absolute;
				padding: 0.8em 1.2em;
				inset: 0;
			}

			#hero-logo {
				max-height: 150px;
			}
		}
	}
}

#content-inner {
	display: flex;
	flex-direction: column;

	.section {
		display: flex;
		flex-direction: row;
		gap: 0.5em;

		& > .section-column {
			padding: 7px;
			flex-grow: 1;
		}


		#twitter-feed {
			max-width: 300px;
			width: 100%;
		}
	}
} */