:root {
	--bg: rgb(244 244 244 / 1);
	--bg-dark: rgb(14 14 14 / 1);
	--fg: rgb(0 0 0 / 1);
	--fg-dark: rgb(234 234 234 / 1);

	--navigation: rgb(0 0 0 / 0.764);
	--hero-overlay: rgb(0 0 0 / 0.6725);

	--button-bg: rgb(195 55 55 / 1);
	--button-fg: rgb(254 254 254 / 1);

	scroll-behavior: smooth;
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.3;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: "Uni Sans Heavy", Roboto, system-ui, Helvetica, Arial, sans-serif
}